numpy
pandas
torch
django
requests
pymysql
sshtunnel
sqlalchemy
matplotlib
seaborn
plotly
scipy
openpyxl
statsmodels
python-docx
pmdarima
# ESRNN
pytest
pytest-mock
dash
django-plotly-dash
beautifulsoup4
# manim
dtale