{% extends 'model_manager/base.html' %}

{% block title %}Connect to Database{% endblock %}

{% block extra_styles %}
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .section {
        width: 100%;
        margin-bottom: 20px;
    }
    .section-title {
        text-align: left;
        margin-bottom: 10px;
        color: #d32f2f;
    }
    .field-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .field-group label {
        text-align: left;
    }
    .field-group input {
        text-align: left;
        width: 200px;
    }
    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #d32f2f;
        color: white;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    button:hover {
        background-color: #b71c1c;
    }
    .success {
        color: green;
        font-weight: bold;
    }
    
    .fail {
        color: red;
        font-weight: bold;
    }
    
    .message {
        margin-top: 20px;
    }
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="section">
            <div class="section-title">SSH Connection</div>
            <div class="field-group">
                <label for="ssh_host">SSH Host:</label>
                <input type="text" id="ssh_host" name="ssh_host" placeholder="SSH Host" value="{{ default_values.ssh_host }}" required>
            </div>
            <div class="field-group">
                <label for="ssh_port">SSH Port:</label>
                <input type="text" id="ssh_port" name="ssh_port" placeholder="SSH Port" value="{{ default_values.ssh_port }}" required>
            </div>
            <div class="field-group">
                <label for="ssh_user">SSH User:</label>
                <input type="text" id="ssh_user" name="ssh_user" placeholder="SSH User" value="{{ default_values.ssh_user }}" required>
            </div>
            <div class="field-group">
                <label for="ssh_password">SSH Password:</label>
                <input type="password" id="ssh_password" name="ssh_password" placeholder="SSH Password" value="{{ default_values.ssh_password }}" required>
            </div>
        </div>
        <div class="section">
            <div class="section-title">Database Connection</div>
            <div class="field-group">
                <label for="db_server">Database Server:</label>
                <input type="text" id="db_server" name="db_server" placeholder="Database Server" value="{{ default_values.db_server }}" required>
            </div>
            <div class="field-group">
                <label for="db_user">Database User:</label>
                <input type="text" id="db_user" name="db_user" placeholder="Database User" value="{{ default_values.db_user }}" required>
            </div>
            <div class="field-group">
                <label for="db_password">Database Password:</label>
                <input type="password" id="db_password" name="db_password" placeholder="Database Password" value="{{ default_values.db_password }}" required>
            </div>
            <div class="field-group">
                <label for="db">Database</label>
                <input type="text" id="db" name="db" placeholder="Database" value="" required>
            </div>
        </div>
        <button type="submit">Connect</button>
        <div class="message {{ connection_successful|yesno:"success,fail" }}">
            {{ message }}
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <!-- Cualquier script extra que quieras añadir -->
{% endblock %}
