{% extends 'model_manager/base.html' %}

{% block title %}Data Source Selection{% endblock %}

{% block extra_styles %}
<style>
    .text-center {
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        text-align: center; /* Alinea el texto al centro */
        margin: 0 auto; /* Centrado horizontal si es necesario */
        padding: 20px; /* Espaciado alrededor del texto */
    }
</style>
{% endblock %}

{% block content %}

<h1 class="text-center">Choose Data Source</h1>

<div class = "content-wrapper">
    <div class="cards-container"> <!-- Contenedor de tarjetas -->
        <div class="card" id="local-file-card">
            <i class="fas fa-file-upload fa-3x"></i>
            Import from local file
        </div>
        <div class="card" id="sql-db-card">
            <i class="fas fa-database fa-3x"></i>
            Connect to SQL Database
        </div>
        <div class="card" id="web-scraping-card" style="opacity: 0.5; cursor: default;">
            <i class="fas fa-globe fa-3x"></i>
            Web Scraping (In Development)
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#local-file-card').on('click', function(){
            window.location.href = '/upload_file/';
        });
        $('#sql-db-card').on('click', function(){
            window.location.href = '/connect_to_database/';
        });
    });
</script>
{% endblock %}
