<!-- model_parameters.html -->
<h2>Edit parameters for: {{ model_name }}</h2>
<div>
Cambios pendientes:
<ul>
    <li> #ToDO: Dejar los nombres de los parámetros legibles  </li>
    <li> #ToDo: Dejar las descripciones de los parámetros  </li>
    <li> #ToDo: Hacer un filtro de los parámetros: Cuáles dejar visibles y cuáles no  </li>
    <li> #ToDo: Agrupar parámetros de naturaleza parecida </li>
    <li> #ToDo: Pensar en una estética mejor</li>
    <li> #ToDo: Hay algunos parámetros de path cuando automatic_importation es True que están mal: Adaptarlo a la estructura de tenants </li>
</ul>
<div>
<form method="post">
    {% csrf_token %}
    {% for param, value in model_parameters.items %}
        <div>
            <label for="param_{{ param }}">{{ param }}:</label>
            <input type="text" name="{{ param }}" id="param_{{ param }}" value="{{ value }}">
        </div>
    {% endfor %}
    <button type="submit">Save Changes</button>
</form>
