{% extends 'model_manager/base.html' %}

{% block title %}Upload CSV{% endblock %}

{% block extra_styles %}
    body {
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: auto; /* Centra el formulario horizontalmente */
        margin-top: 20px; /* Agrega un poco de margen en la parte superior */
    }
    input[type="file"] {
        border: 2px solid #4CAF50;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .icon-container {
        text-align: center;
        margin-bottom: 10px;  
    }
    .icon-container i {
        font-size: 3em;  
    }
{% endblock %}

{% block content %}
    <!-- Form for file upload -->
<div class = "content-wrapper">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="icon-container">
            <i class="fas fa-file-import"></i>  
        </div>
        <input type="file" name="local_file" required>
        <button type="submit">Upload</button>
    </form>

    <!-- Selection of a file for training -->
    {% if user_files %}
        <form method="post">
            {% csrf_token %}
            <div>
                <h2>Select one of a file to train model</h2>
                <select name="selected_file">
                    {% for file in user_files %}
                        <option value="{{ file.name }}">{{ file.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Select for Training</button>
            </div>
        </form>
    {% else %}
        <div>
            <h2>No files uploaded yet.</h2>
        </div>
    {% endif %}
</div>
{% endblock %}

