{% extends 'model_manager/base.html' %}

{% block title %}Model Resources{% endblock %}

{% block extra_styles %}
<style>
    .text-center {
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        text-align: center; /* Alinea el texto al centro */
        margin: 0 auto; /* Centrado horizontal si es necesario */
        padding: 20px; /* Espaciado alrededor del texto */
    }
</style>
{% endblock %}

{% block content %}

<h1 class="text-center">Models</h1>

<div class = "content-wrapper">
    <div class="cards-container"> <!-- Contenedor de tarjetas -->
        <div class="card" id="create-new-model">
            <i class="fas fa-plus-circle fa-3x"></i>
            Create new model
        </div>
        <div class="card" id="models-saved">
            <i class="fas fa-save fa-3x"></i>
            Models saved
        </div>
        <div class="card" id="Learn-more">
            <i class="fas fa-book fa-3x"></i>
            Learn more about models!
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#create-new-model').on('click', function(){
            window.location.href = '/data_source_selection/';
        });
        $('#models-saved').on('click', function(){
            window.location.href = '/user_resources_models_saved/';
        });
    });
</script>
{% endblock %}
