{% extends 'model_manager/base.html' %}
{% load static %}

{% block extra_styles %}
    <style>
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    </style>
{% endblock %}

{% block content %}

<h1 class="text-center">User Resources</h1>

<div class="content-wrapper">
    <div class="cards-container"> <!-- Contenedor de tarjetas -->
        <!-- Tarjeta para Modelos -->
        <div class="card" id ="models">
            <i class="fas fa-cogs fa-3x"></i>
            <p>Models</p>
        </div>
        <!-- Tarjeta para Datasets -->
        <div class="card" id = "datasets">
            <i class="fas fa-table fa-3x"></i>
            <p>Datasets</p>
        </div>
        <!-- Tarjeta para Figuras -->
        <div class="card" id = "figures">
            <i class="fas fa-chart-bar fa-3x"></i>
            <p>Figures</p>
        </div>
        <!-- Más tarjetas según sea necesario -->
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#models').on('click', function(){
            window.location.href = '/user_resources_models/';
        });
        $('#datasets').on('click', function(){
            window.location.href = '/load_dataset/';
        });
        $('#sql-db-card').on('click', function(){
            window.location.href = '//';
        });
    });
</script>
{% endblock %}