{% extends 'model_manager/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>User resources saved</h2>

    <!-- Lista de Categorías de Recursos -->
    <div class="nested-list">
        <ul>
            <li class="list-title">
                <a href="{% url 'user_resources_models' %}">Models</a> <!-- Enlace a la vista user_resources_models -->
            </li>
            <li class="list-title">Figures</li>
            <li class="list-title">Datasets</li>
        </ul>
    </div>
</div>
{% endblock %}