#csv-raw-preview {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}
#csv-raw-preview-header {
    text-align: center;
    margin-bottom: 10px;
}
.folder-view {
    list-style-type: none;
    padding-left: 20px;
}
.folder-view .folder-name {
    cursor: pointer;
}
.folder-name.opened > .fas {
    transform: rotate(90deg); /* Gira el icono de la carpeta cuando está abierta */
}
.folder-view .file {
    cursor: pointer;
    padding-left: 20px; /* Añade un poco de padding para alinear con los nombres de las carpetas */
}
.folder-view .fas {
    margin-right: 8px;
}
.folder-view ul {
    list-style-type: none; /* Remove points of list */
    display: none; /* Hide subdirectories by default */
}
.file-explorer {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.file-explorer ul {
    list-style-type: none;
    padding-left: 20px;
    position: relative;
}
.file-explorer ul:before {
    content: '';
    border-left: 2px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    height: 100%;
}
.file-explorer li {
    margin: 0;
    padding: 10px 5px;
    position: relative;
}
.file-explorer li:before {
    content: '';
    border-top: 2px solid #ccc;
    position: absolute;
    top: 20px;
    left: 0;
    right: auto;
    width: 10px;
    height: 0;
}
.file-explorer li:after {
    content: '';
    border-left: 2px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    height: 100%;
}
.file-explorer li:last-child:after {
    height: 20px;
}
.file-explorer .folder-view > li:before, 
.file-explorer .folder-view > li:after {
    border: 0;
}
.file-explorer .folder-view > li {
    padding-left: 10px;
}
.file-explorer .nested {
    margin-left: 20px;
}
.file-explorer h3 {
    color: #333;
    margin-bottom: 15px;
}
.folder-view {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
.folder-view .folder-name, .folder-view .file {
    cursor: pointer;
    padding: 5px 10px;
    display: block;
}
.folder-name > .fas, .file > .fas {
    margin-right: 8px;
}
.file-selected {
    background-color: #007BFF; /* Un color azul claro, ajusta según tu paleta de colores */
    color: white;
    border-radius: 4px;
}
.upload-section {
    margin-top: 20px;
}
#load-dataset-options {
    max-height: 50vh; /* Altura máxima del 50% de la altura de la ventana */
    overflow-y: auto; /* Scroll vertical si el contenido es demasiado grande */
    border: 1px solid #ccc; /* Borde alrededor del cuadro */
    padding: 15px; /* Espacio dentro del cuadro */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
}