/* Estilo para el botón de ayuda */
.btn-help {
    background-color: #f0ad4e; /* Color amarillo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-help:hover {
    background-color: #ec971f; /* Color amarillo oscuro */
}

/* Estilo para la sección de explicación */
.explanation {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

/* Animación para mostrar/ocultar la sección de ayuda */
.explanation.slide-down {
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 1000px;
        opacity: 1;
    }
}

.explanation.slide-up {
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    from {
        max-height: 1000px;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}
